spring:
  application:
    name: inventory-service
  datasource:
    url: jdbc:h2:mem:mydb
    username: sa
    password:
    driverClassName: org.h2.Driver
  jpa:
      database-platform: org.hibernate.dialect.H2Dialect
      show-sql: true
      ddl-auto: none
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.xml

server:
  port: 8081
